@{
    ViewBag.Title = "Cadastro";
}
<form action="/login/cadastrar" method="post">
        <h3>Cadastro</h3>
        <input type="text" name="Usuario" placeholder="Digite seu usuario" id="cadastroUsuario"/>
        <input type="email" name="Email" placeholder="Digite seu e-mail" id="cadastroEmail"/>
        <input type="password" name="Senha" placeholder="Digite sua senha" id="cadastroSenha"/>
        <input type="password" name="confirmacaoSenha" placeholder="Confirme sua senha" id="cadastroConfirmacaoSenha"/>
        <button id="cadastro">Cadastrar</button>

        @if (ViewBag.ErrorMessage != null)
        {
            <h3>@ViewBag.ErrorMessage</h3>
        }
        @if (ViewBag.Message != null)
        {
            <h3>@ViewBag.Message</h3>
        }
    </form>

@*<div>
    <input type="text" name="Usuario" placeholder="Digite seu usuario" id="cadastroUsuario" />
    <input type="email" name="Email" placeholder="Digite seu e-mail" id="cadastroEmail" />
    <input type="password" name="Senha" placeholder="Digite sua senha" id="cadastroSenha" />
    <input type="password" name="confirmacaoSenha" placeholder="Confirme sua senha" id="cadastroConfirmacaoSenha" />
    <button id="savebtn" onclick="cadastrarUsuario()">Save Game</button>

</div>*@