@{
    ViewBag.Title = "ForgotPassword";
}

<form action="/login/validar" method="post">
    <h3>Forgot Password</h3>
    <input type="text" name="Usuario" placeholder="Digite seu usuario" />
    <input type="email" name="Email" placeholder="Digite seu e-mail" />
    <input type="password" name="Senha" placeholder="Digite sua nova senha"  />
    <input type="password" name="novaSenha" placeholder="Confirme sua senha"  />
    <button id="validar">Recuperar</button>


    @if (ViewBag.ErrorMessage != null)
    {
        <h3>@ViewBag.ErrorMessage</h3>
    }
    @if (ViewBag.Message != null)
    {
        <h3>@ViewBag.Message</h3>
    }

</form>